body {
    margin: 0;
    padding: 0;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/School_children_(Lukhanyo_Primary_School,_Zwelihle_Township_(Hermanus,_South_Africa)_b_03.jpg/1280px-School_children_(Lukhanyo_Primary_School,_Zwelihle_Township_(Hermanus,_South_Africa)_b_03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
    /* background_image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(20).jpg"); */
}

#particles-js {
background_repeat: repeat-x;
background_size: cover;
}

.navbar{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../img/bg.jpg")no-repeat center center;
    background-size: cover;
    font: 18px 'opensans-bold', sans-serif;
    background-color: transparent;
    border: none;
    color:#ffff;
    transition: background-color 1s ease 0s;
}
